p {
    text-align: justify;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 0.5rem;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    margin-top: 40px;
    width: fit-content;
}

ul {
    text-underline-offset: 6px;
}

.back-button:hover {
    border-bottom: 2px solid #0d47a1;
}
